.supercontainer{

	background-color: #F0F0EE;

	padding-top: 30px;
	padding-bottom: 30px;
	width: 60%;
	min-height: 50vh;
	border-radius: 15px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	-webkit-box-shadow: 6px 10px 38px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 10px 38px 3px rgba(0,0,0,0.75);
	box-shadow: 6px 10px 38px 3px rgba(0,0,0,0.75);

	text-align: center;
}

.searchBarsSupercontainer{
	width: 50%;
	margin: auto;
}
