.offsiteIcon{
	display: inline-block;

	margin-left: 10px;
	margin-top: 10px;
}

.offsiteIconImg{
	border-radius: 5px;
	width: 70px;
	height: 70px;


}

.offsiteIconsContainer{
	text-align: center;
	width: 80%;
	margin: auto;
}
