
.inputTextClass{
	width: 45%;
	min-width: 290px;
	display: inline-block;
	//text-align: center//
}

.searchSubmitButton{
	text-align: center;
	display: inline-block;
	width: 20%;
}

.searchLable{
	text-align: left;
	float: left;;
}

.rightSeachContainer{
	float: right;
	width: 400px;
}
